In [13]:
print('enter the value of n', )
n = int(input())
def Fib(n):
  if n<0:
    print('incorrect')
  elif n == 0:
    return 0
  elif n == 1 or n == 2:
    return 1
  else:
    return Fib(n-1) + Fib(n-2)
for i in range(n):
  print(Fib(i))

enter the value of n
10
0
1
1
2
3
5
8
13
21
34

In [21]:
employee=[
    {"name":"Yathiraj","salary":5000},
    {"name":"Yashu","salary":6000},
    {"name":"y2","salary":7000},
]
total=sum(emp["salary"] for emp in employee)
avg_salary=total/len(employee)
print('employee details')
for emp in employee:
  print(f"name:{emp['name']}")
print(f"total:{total} is total salary of all")
print(f"{avg_salary} is average salary of all")

employee details
name:Yathiraj
name:Yashu
name:y2
total:18000 is total salary of all
6000.0 is average salary of all